/bin
/synthesijer.jar
/synthesijer-stream.jar
*~
*.o
*.vcd
a.out
*.iml
.idea
/target
/snap/.snapcraft
/stage
/parts
*.tmp_info
*.cache
*.class
*.xml
*.properties
out
export
inputs
output
ivy-report.*
*_dsp
data
copy-resources
run.script
*.zip
sim.*