NET SYS_CLK_P  LOC = AD12 | IOSTANDARD=LVDS;
NET SYS_CLK_N  LOC = AD11 | IOSTANDARD=LVDS;
NET USER_RESET LOC = AB7 | IOSTANDARD=LVCMOS15;

NET pLCD_RW         LOC = AB13 | IOSTANDARD=LVCMOS15;
NET pLCD_RS         LOC = Y11  | IOSTANDARD=LVCMOS15;
NET pLCD_E          LOC = AB10 | IOSTANDARD=LVCMOS15;
NET pLCD_DB<0>      LOC = AA13 | IOSTANDARD=LVCMOS15;
NET pLCD_DB<1>      LOC = AA10 | IOSTANDARD=LVCMOS15;
NET pLCD_DB<2>      LOC = AA11 | IOSTANDARD=LVCMOS15;
NET pLCD_DB<3>      LOC = Y10  | IOSTANDARD=LVCMOS15;

