CONFIG VCCAUX=3.3;
NET USER_RESET      LOC = V4  | IOSTANDARD = LVCMOS33 | PULLDOWN;    # "USER_RESET"
NET USER_RESET      TIG;
NET CLOCK_Y2          LOC = K15 | IOSTANDARD = LVCMOS33;               # "CLOCK_Y2"
NET CLOCK_Y2 TNM_NET = CLOCK_Y2;
TIMESPEC TS_CLOCK_Y2 = PERIOD CLOCK_Y2 66700 kHz;
NET USB_RS232_RXD     LOC = R7  | IOSTANDARD = LVCMOS33;               # "USB_RS232_RXD"
NET USB_RS232_TXD     LOC = T7  | IOSTANDARD = LVCMOS33;               # "USB_RS232_TXD"

